* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body { min-height: 100%; }

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #00aa77;
    background-repeat: repeat-x, repeat;
    font-family:'Work Sans', Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	color: #ddd;
	overflow-x: hidden;
}

.loading {
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	height:50px;
    width:225px; 
    text-align:center;
	text-transform:uppercase;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .loading {
		width:425px;
    }
}

.popup-error {
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	height:50px;
    width:225px; 
    text-align:center;
	text-transform:uppercase;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .popup-error {
		width:425px;
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

h1 strong {
	color: #fff;
}

.login, .register {
	margin-top: 10px;
}

.login p, .register p  {
	text-align: center;
}

.login .header, .register .header {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: #FFF;
	margin-bottom: 5px;
	padding: 10px 30px;
}

.login .content, .register .content {
	padding: 10px 30px;
}

.login .header p, .register .header p {
	text-align: left;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

div.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	background-color: #ddd;
	color: black;
}

.title {
	margin-top: 20px;
	margin-bottom: 25px;
}

.btn-large {
	width: 80%;
}
